html {
    scroll-behavior: smooth;
}

:target::before {
    content: "";
    display: block;
    height: 20vh;
    /* Altura del contenido fijo en la parte superior */
    margin: -10vh 0 0;
    /* Margen negativo para compensar la altura */
}

/* INICIO INDEX */
.bienvenida {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 95vh;

}

.texto {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*alineacion vertical*/
    align-items: start;
    /* alineacion horizontal*/
    margin-left: 1em;
}

.texto h1 {
    font-size: 5rem;
}

.texto h2 {
    font-size: 3rem;
}

.texto h3 {
    font-size: 2rem;
}

.texto hr {
    visibility: hidden;
}

.texto h1,
.texto h2,
.texto h3 {
    transition: letter-spacing 0.8s, box-shadow 1s;
    border-radius: 0.01em;

}

.texto h1:hover,
.texto h2:hover,
.texto h3:hover {
    letter-spacing: 0.08em;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.6);
}

.imagen {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;


}

.imagen img {
    margin: 2em;
    max-width: 100%;
    width: calc(33.33% - 10px);
    height: auto;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.8s, width 0.5s;
}

.imagen img:hover {
    max-width: 100%;
    width: calc(33.9%);
    height: auto;
    object-fit: cover;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
}

/* FIN INDEX */

/* INICIO PORTADA */
.portada {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.imagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;

}

.imagenes img {
    width: 20%;
}


.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: letter-spacing 0.8s;
}

.titulos h3 {
    font-size: 2rem;
}

hr {
    width: 100%;
    color: black;
}

.materia,
.actividad,
.info-general {
    transition: letter-spacing 0.8s;
}

.materia:hover,
.titulos:hover,
.actividad:hover,
.info-general:hover {
    letter-spacing: 0.2em;
}

.materia h2 {
    font-size: 3rem;
}

.actividad h4,
.info-general h4 {
    font-size: 1.5rem;
}

.info-general,
.actividad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* FIN PORTADA */

/* INICIO INTRODUCCIÓN */
.intro {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
    margin-block: 5vw;
}

.intro-titulo {
    height: 10%;
    display: flex;
    align-items: center;
}

.intro-titulo h1:hover {
    letter-spacing: 0.2em;
}

.intro-titulo h1 {
    transition: letter-spacing 0.8s;
}

.intro-texto {
    height: 90%;
    width: 80%;
    transform-origin: top;
}

.intro-texto p {
    font-size: 1.5rem;
}

/* FIN INTRODUCCIÓN */

/* INICIO SINTESIS */
.sintesis {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
}

.sintesis-titulo {
    height: 10%;
    display: flex;
    align-items: center;
}

.sintesis-titulo h1:hover {
    letter-spacing: 0.2em;
}

.sintesis-titulo h1 {
    transition: letter-spacing 0.8s;
}

.sintesis-texto {
    height: 90%;
    width: 80%;
}

.sintesis-texto p {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5;
}

.sintesis-texto p img {
    width: 50%;
}

/* FIN SINTESIS */

/* INICIO CUADRO COMPARATIVO */
.cuadro-comparativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla-comparativa {
    border-collapse: collapse;
    margin-block: 2vw;
    width: 80%;
    table-layout: fixed;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.5);
}

.tabla-comparativa th {
    padding: 1vw;
    font-size: 1.5rem;
}

.tabla-comparativa thead {
    vertical-align: top;
    height: 16em;
}

.tabla-comparativa tr>th:nth-child(odd) {
    background-color: #6A9ECB;
}

.tabla-comparativa tr>th:nth-child(even) {
    background-color: #D4E5FF;
}

.tabla-comparativa tbody tr:nth-child(even) {
    border-bottom: #FFA500 0.2em solid;
}

.tabla-comparativa tbody tr:nth-child(odd) {
    border-bottom: #7bd2f8 0.2em solid;
}

.tabla-comparativa td:nth-child(even) {
    background-color: #D4E5FF;
}

.tabla-comparativa td:nth-child(odd) {
    background-color: #6A9ECB;
}

/* Hover del div de los titulos */
.tabla-titulos:hover img {
    margin-bottom: 0.4em;
    width: 6em;
}

.tabla-titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Imagenes de los titulos */
.tabla-titulos img {
    width: 5em;
    transition: width 0.5s, margin-bottom 0.5s;
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.5);
    margin-bottom: 0.3em;
}

.tabla-comparativa td {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tabla-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5;
}


/* Imagenes del contenido */
.tabla-comparativa tr td img:hover {
    width: 7em;
    height: 7em;
}

.tabla-comparativa tr td img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    transition: width 0.5s, height 0.5s;
}

/* FIN CUADRO COMPARATIVO */

/* INICIO COMANDOS GIT */
.comandos-git {
    border: black 4px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .tabla-comandos, .cabezera-comandos th, .cuerpo-comandos td {
    border: black 1px solid;
} */
.tabla-comandos {
    width: 80%;
    /* table-layout: fixed; */
    /* border: red 3px solid; */
    border-collapse: collapse;
    /*Hace que no se vea el borde rojo*/
    font-size: 1.5em;
}

.cabezera-comandos th {
    /* border: turquoise 3px solid;  */
    background-color: #ff9d5c;
}

.cuerpo-comandos td {
    border: blue 3px solid;
    vertical-align: top;
    text-align: justify;
    padding-inline: 0.5em;
    padding-block: 1em;
}

.cuerpo-comandos td.ver-texto {
    overflow: hidden;
    overflow-y: scroll;
}

.cuerpo-comandos .parametros {
    height: 6em;
    white-space: pre-line;
    transition: display 1s;
}

/* .cuerpo-comandos .ver-texto {
    cursor: pointer;
}
.cuerpo-comandos td:hover .parametros {
    display: block;
    cursor: pointer;
    
} */

.cuerpo-comandos tr:nth-child(even) {
    background-color: #f8c566;
}

.cuerpo-comandos tr:nth-child(odd) {
    background-color: #ffe5b5;
}

.cuerpo-comandos .consola {
    /* Comando y Ejemplo */
    font-family: 'Courier New', Courier, monospace;
}

/* FIN COMANDOS GIT */